.split_info_container {
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2;
  height: 100%;
}

.left {
  background-color: black;
  position: absolute;
  width: 50%;
  height: 100%;
  grid-column: 1;
}

.background_img {
  max-width: 50vw;
  max-height: 100vh;
  min-width: 50vw;
  min-height: 100vh;
  margin: auto;
  display: block;
}

.right {
  background-color: grey;
  left: 50%;
  position: absolute;
  width: 50%;
  height: 100%;
  grid-column: 2;
}


.mat-button {
  z-index: 2;
  background-color: #2d3090;
  color: white;
  box-shadow: 2px px black;
  width: 15vw;
  height: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

