<div class="split_info_container">
  <div class="left">
    <img class="background_img" src="../../../../assets/img/misc/esports.png" />
    <div class="centric">
    <span class="big_text">Esport<br/></span>
    <span>Wir wollen Studierenden in und um Hamburg die Möglichkeit bieten,
      in verschiedenen Spielen mit anderen Studierenden, die Hamburger Unis in
      deutschen Wettbewerben zu vertreten. Unser Fokus liegt dabei auf der
      <a target="_blank" rel="noopener noreferrer" href="https://www.uniliga.gg/">Uniliga</a>. Jeder Studierende einer Hamburger Uni ist bei uns
      willkommen.
    </span>
  </div>
  </div>
  <button (click)="onJoinClick()" mat-button>MITMACHEN | KONTAKT</button>
  <div class="right">
    <img
      class="background_img"
      src="../../../../assets/img/misc/community.png"
    />
    <div class="centric">
    <span class="big_text">Community<br/></span>
    <span>Neben dem Spielbetrieb möchten wir auch eine Community
      schaffen, in der sich Hamburger Studierende untereinander über ihre
      Esport-Leidenschaft austauschen können. Hierfür veranstalten wir
      regelmäßig Online- und Offline-Events, wie z.B. Community Treffen,
      kleinere Spaßturniere, Public Viewing und vieles mehr.</span
    >
  </div>
  </div>
</div>
