.text_block {
  position: absolute;
  left: 50%;
}

img {
  object-fit: scale-down;
  align-self: center;
}

.mat-typography {
  font-size: 1vw;
  color: white;
}

h3 {
  margin-top: 10%;
  font-size: 1.5vw;
}
