
<div class="text_block">
  <button mat-button mat-dialog-close style="right: 1%; top: 1%">X</button>
<mat-dialog-content class="mat-typography">
  <h3>Mitmachen</h3>
  <p>Wenn du bei uns mitmachen möchtest, schau am Besten einfach <br/> auf unserem Discord vorbei "Button mit Discord Logo"</p>

  <h3>Kontakt</h3>
  <p>Für Fragen oder anderweitige Kontaktaufnahme, kannst du uns <br/> auch gerne eine Mail an <a href="mailto:kontakt@hamburger-haie.com">Kontakt@hamburger-haie.com</a> senden.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>
</div>
<img src="../../../../assets/img/misc/dialog.png">
