<div class="text_block">
  <button
    mat-button
    mat-dialog-close
    style="
      position: absolute;
      left: 35%;
      top: 1%;
      color: white;
      font-weight: bold;
    "
  >
    X
  </button>
  <mat-dialog-content class="mat-typography">
    <h3>Mitmachen</h3>
    <p>
      Wenn du bei uns mitmachen möchtest, schau am <br />Besten einfach auf
      unserem Discord vorbei:
    </p>
    <div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://discord.com/invite/5QP76kT"
      >
        <img
          class="socialbutton"
          src="./../../../assets/img/socialfavicons/discwhitenormal.png"
        />
      </a>
    </div>
    <h3>Kontakt</h3>
    <p>
      Für Fragen oder anderweitige Kontaktaufnahme <br />kannst du uns auch
      gerne eine Mail an <br /><a href="mailto:kontakt@hamburger-haie.com"
        >Kontakt@hamburger-haie.com</a
      >
      senden.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end"> </mat-dialog-actions>
</div>
<img src="../../../../assets/img/misc/dialog.png" />
