
<h1> Team for  </h1>

<div *ngIf="this.teamG">
  <div *ngFor="let item of this.teamG; index as i">

  <h3><pre class="prettyfont">{{"     " + item.id + "      " + item.name + "      " + item.league + "       " + item.game}}</pre> </h3>
  <table mat-table [dataSource]="item.players" class="mat-elevation-z8">

    <ng-container matColumnDef="Forename">
      <th mat-header-cell *matHeaderCellDef>Foreame</th>
      <td mat-cell *matCellDef="let element"> {{element.foreName}} </td>
    </ng-container>

    <ng-container matColumnDef="Lastname">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Nickname">
      <th mat-header-cell *matHeaderCellDef>Nickname</th>
      <td mat-cell *matCellDef="let element"> {{element.nickName}} </td>
    </ng-container>

    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div *ngFor="let player of item.players; index as j">

  </div>
  </div>
</div>
