.game_selection_wrapper {
margin-top: 2vw;
}
.game_grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 40%;
  grid-template-rows: 50% 50%;
  margin-bottom: 5%;
}

.game_text {
  padding-left: 35%;
  font-size: 4vw;
}

.game_icon {
  object-fit: contain;
  width: 15vw;
  height: 15vh;
}

.game_icon:hover {
  transform: scale(1.1);
}
