<div class="game_selection_wrapper">
  <span class="game_text">Unsere Abteilungen</span>
    <div class="game_grid">
        <img class="game_icon" (click)="swapGame('lol')" src="../../../../assets/img/games/Farbe/LoLKlein.png">
        <img class="game_icon" (click)="swapGame('ow')" src="../../../../assets/img/games/Farbe/OverwatchKlein.png">
        <img class="game_icon" (click)="swapGame('rl')" src="../../../../assets/img/games/Farbe/RL.png">
        <img class="game_icon" (click)="swapGame('hs')" src="../../../../assets/img/games/Farbe/Hearthstone.png">
      </div>
      <div class="game_grid">
        <img class="game_icon" (click)="swapGame('cs')" src="../../../../assets/img/games/Farbe/CSGO.png">
        <img class="game_icon" (click)="swapGame('r6')" src="../../../../assets/img/games/Farbe/R6Klein.png">
        <img class="game_icon" (click)="swapGame('ssbu')" src="../../../../assets/img/games/Farbe/Smash.png">
        <img class="game_icon" (click)="swapGame('vl')" src="../../../../assets//img//games/Farbe/Valorant.png">
        </div>
      <div class="game_grid">
        <img class="game_icon" (click)="swapGame('fifa')" src="../../../../assets/img/games/Farbe/FIFA.png">
      </div>
 <div>
