<div class="game_grid">
<img class="game_icon" src="../../../../assets/img/games/Farbe/LoL.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/Overwatch.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/RL.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/Hearthstone.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/CSGO.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/R6Klein.png">
<img class="game_icon" src="../../../../assets/img/games/Farbe/Smash.png">
</div>
