<div class="about_wrapper">
  <div class="centric">
    <h1>Über uns</h1>
    <p>
      Als Hamburger Haie Student eSports Initiative vertreten wir alle Hamburger
      Unis in der deutschen eSports Uniliga. Unser Ziel ist es möglichst vielen
      Hamburger Studenten die Möglichkeit zu bieten am deutschen Studentenesport
      teilzuhaben. Dies findet hauptsächlich über die Deutsche Uniliga, aber
      auch über weitere Online- und Offlineevents statt. Darüber hinaus möchten
      wir mit lokalen Events in Hamburg eine Community für Esports-Interessierte
      schaffen. Unsere Organisation umfasst ca. 160 Studierende und über 20 Teams
      in acht verschiedenen eSports Titeln.
    </p>
    <h1>Geschichte</h1>
    <p>
      Seinen Ursprung hat der Uni-eSport in Hamburg auf einer Lan-Party der TUHH
      in 2016. Hier lernte sich das erste Uni-Team um Christian | Chr1z kennen
      und beschloss schon bald die Teilnahme an der League of Legends Uniliga.
      In der ersten Saison schaffte das Team direkt eine kleine Sensation und
      gewann das gesamte Turnier. Später folgte dann noch der zweite Platz bei
      der Milan Games Week und ebenfalls der zweite Platz beim University
      College Cup in Porto. In dieser Zeit wurde dann von Simon | Tabbian und
      Christian | Chr1z die “LoL-AG” an der TUHH gegründet und ein zweites
      League of Legends Team entstand. Unter dem Banner von “TUHH GamING” wurde
      Hamburg ab dann in der League of Legends Uniliga vertreten. Trotz des
      Namens waren jedoch auch immer wieder Studierende anderer Hamburger Unis
      Teil des Teams. Daher entschlossen sich Philipp “Welli” Welteke und Markus
      “Sav” Mutas im Juni 2019 dazu, die Hamburger Haie zu gründen. Plan hierbei
      war es offiziell alle Hamburger Unis in der Uniliga zu vertreten und
      auch das Spieleportfolio, über League of Legends hinaus, zu erweitern.<br />Der
      Plan ging auf und bereits in der ersten Saison zählte die Organisation ca.
      50 neue Mitglieder und trat mit sechs Teams in vier verschiedenen Spielen
      in der Uniliga an. Anfang 2020 kam dann noch die AG an der Uni Hamburg
      hinzu, um dort die Studierenden unserer Organisation noch besser vertreten
      zu können.
    </p>
    <h1>Struktur</h1>
    <p>
      Die Initiative ist das übergeordnete Organ der Hamburger Haie. Ihr
      untergeordnet sind zwei eSports AGs, eine an der Uni Hamburg und eine an
      der TUHH.
    </p>
    <h2>Organisation</h2>
    <div class="structure">
      <span class="structure_text"
        ><p class="bold">Philipp "Welli" Welteke</p>
        <p class="small">1. Vorsitzender</p></span
      >
      <span class="structure_text"
        ><p class="bold">Markus "Sav" Mutas</p>
        <p class="small">2. Vorsitzender</p></span
      >
      <span class="structure_text"
        ><p class="bold">Clara Marie "Muddi" Lüders</p>
        <p class="small">Kassenwärtin & AG-Leitung UHH</p></span
      >
      <span class="structure_text"
        ><p class="bold">Simon "tabbian" Aengenheyster</p>
        <p class="small">AG-Leitung TUHH & Abteilung: League of Legends</p>
      </span>
    </div>
    <div class="structure">
      <span class="structure_text"
        ><p class="bold">Tim "TK" Körner</p>
        <p class="small">Abteilung: Rocket League</p></span
      >
      <span class="structure_text"
        ><p class="bold">Malte "Arbus" Krutschow</p>
        <p class="small">Abteilung: Counter Strike</p></span
      >
      <span class="structure_text"
        ><p class="bold">Chiara "ushizi" Wiegand</p>
        <p class="small">Abteilung: Overwatch</p></span
      >
      <span class="structure_text"
        ><p class="bold">Marc "Ramcy" Lüdcke</p>
        <p class="small">Abteilung: Rainbow 6 Siege</p></span
      >
    </div>
  </div>
</div>
