<div class="ersti_wrapper">
  <div class="infoabende_wrapper">
    <span class="infoabende_text">HHaie Infoabend für neue Erstsemester
      <br />Donnerstag, 29.10. um 18:30 Uhr im Discord.<br />
    </span>
    <button class="discbutton" (click)="goToLink('https://discord.com/invite/5QP76kT')" mat-button>DISCORD</button>
    <img class="infoabend_pic" src="../../../assets/img/misc/Header.jpg">
  </div>
  <div class="cup_wrapper">
    <div class="CSdiv">
      <span class="cs_text"><p>Counter-Strike Cup</p>
        <br/><br/>
        <br/>30. Oktober<br/>
        <br/><br/>
        <button class="CSButton" (click)="goToLink('https://forms.gle/88gT6P1kYS98sY1s8')" mat-button>ANMELDEN</button>
        <br/><br/>
        <br/><br/>
      </span>

      <img class="CS" src="../../../assets/img/misc/cs.jpg">
    </div>
    <div class="CUPdiv">
      <span class="cuptext"><p>League Of Legends Cup</p>
        <br/><br/>
        <br/>29. Oktober<br/>
        <br/><br/>
        <button class="CSButton" (click)="goToLink('https://forms.gle/3w6XdtSfGvzXJccH7')" mat-button>ANMELDEN</button>
        <br/><br/>
        <br/><br/>
      </span>

      <img class="cupinfo" src="../../../assets/img/misc/LoLBackground.jpg">
    </div>
    <div class="RLdiv">
      <span class="RLtext"><p>Rocket League Cup</p>
        <br/><br/>
        <br/>30. Oktober<br/>
        <br/><br/>
        <button class="CSButton" (click)="goToLink('https://forms.gle/HL9NoJCnd44sAhmP9')" mat-button>ANMELDEN</button>
        <br/><br/>
        <br/><br/>
      </span>
      <!--a class="RLtext">League of Legends Cup</a-->
      <img class="RL" src="../../../assets/img/misc/Rocket-League.jpg">
    </div>
  </div>
  <div class="worlds_wrapper">
    <span class="worldstext">
      League of Legends Worlds Finals
      <br/><a>Public Viewing im Audimax I - Muss corona-bedingt leider ausfallen.</a><br/>
    </span>
    <img class="worlds_pic" src="../../../assets/img/misc/cover-image-1068x608.jpg">"
  </div>
</div>
