<div class="ersti_wrapper">
  <div class="infoabende_wrapper">
    <span class="infoabende_text">HHaie Infoabend für neue Erstsemester
      <br />Mittwoch, 14.10., 20:00 Uhr<br />
    </span>
    <button class="discbutton" (click)="goToLink('https://discord.com/invite/5QP76kT')" mat-button>DISCORD</button>
    <img class="infoabend_pic" src="../../../assets/img/misc/Header.png">
  </div>
  <!--div class="cup_wrapper">
    <img class="CS" src="../../../assets/img/misc/cs.png">

    <img class="cupinfo" src="../../../assets/img/misc/LoLBackground.png">

    <img class="RL" src="../../../assets/img/misc/Rocket-League.png">
  </div>
  <div class="worlds_wrapper">
    <img src="../../../assets/img/misc/cover-image-1068x608.jpg">"
  </div-->
</div>