.partner_wrapper {
  margin-top: 20%;
  margin-bottom: 10%;
}

.partner_text {
  padding-left: 35%;
  font-size: 4em;
}

.partner_grid {
  padding-left: 20%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 20% 20% 20% ;
}

.partner_icon {
  width: 10vw;
  height: 10vw;
}
