.partner_wrapper {
  margin-top: 10%;
  margin-bottom: 10%;
}

.partner_text {
  padding-left: 35%;
  font-size: 4vw;
}

.partner_grid {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.partner_icon {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  margin: auto;
}

.partner_icon:hover {
  transform: scale(1.1);
}
