.big_panel_container {
  width: 100vw;
  margin-bottom: 10%;
}

.background_image {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.background_container {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
}

span {
  z-index: 2;
  position: relative;
  left: 35vw;
  font-size: 4em;
  stroke: black;
  stroke-width: 1px;
  text-shadow: 0 0 5px black;
  color: white;
}
