<mat-toolbar class="fixed">
  
  <app-logo class="fixed" (click)="scrollToTop()"></app-logo>
  <div class="span_wrapper">
    <span class="last_span"><app-dtity></app-dtity></span>
    <span> <button class="button" mat-button (click)="routeHome()">HOME</button></span>
    <span> <button class="button" mat-button (click)="routeAboutUs()">ÜBER UNS</button></span>
    <!--span> <button class="button" mat-button (click)="routeErstis()">ERSTIS</button></span-->
    <span> <button class="button" mat-button (click)="routeTeams()">SPIELE</button></span>
    <!--<span> <button class="button" mat-button (click)="routeFAQ()">FAQ</button></span> -->
  </div>
</mat-toolbar>
