<mat-toolbar class="fixed">
  <app-logo class="fixed"></app-logo>
  <div class="span_wrapper">
    <span> <button mat-button (click)="routeHome()">Home</button></span>
    <span> <button mat-button (click)="routeAboutUs()">Über uns</button></span>
    <span> <button mat-button (click)="routeTeams()">News</button></span>
    <span> <button mat-button (click)="routeTeams()">Spiele</button></span>
    <span> <button mat-button (click)="routeTeams()">FAQ</button></span>
    <span class="last_span"><app-dtity></app-dtity></span>
  </div>
</mat-toolbar>
