<div class="dtity_wrapper">
    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://www.discord.hhaie.de">
            <img class="socialbutton" src="./../../../assets/img/socialfavicons/discwhitenormal.png">
        </a>
    </div>

    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/hamburgerhaie">
            <img class="socialbutton" src="./../../../assets/img/socialfavicons/twitter.png">
        </a>
    </div>

    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hamburgerhaie">
            <img class="socialbutton"src="./../../../assets/img/socialfavicons/instagram.png">
        </a>
    </div>

    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://www.twitch.tv/hamburgerhaie">
            <img class="socialbutton" src="./../../../assets/img/socialfavicons/twitch.png">
        </a>
    </div>

    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/hamburgerhaie">
            <img class="socialbutton" src="./../../../assets/img/socialfavicons/youtube.png">
        </a>
    </div>
</div>
<!-- tufan please todo 5 icons -->